@import '../../variables.scss';
.view{
    &-pickerWrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
h2{
    margin-bottom: 0;
    margin-top: 10px;
    @include respond-to(large){
        margin: 40px 10px 20px 10px;
    }
}
.form-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    @include respond-to(large){
        flex-direction: row;
    }
}
    //react-dates ovverides
.CalendarDay{
        border: none;
        padding: 5px;
        &__hovered_span{
            color:#FFF;
            background:#2196F3;
        }
}
.CalendarDay__hovered_span, .CalendarDay__hovered_span:hover{
    color:#FFF;
    background:#2196F3;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover{
    background: #094185;
    border: none;
    color: #fff;
}
.CalendarDay__selected_span{
    background: #1976D2;
    border: none;
    color: #fff;
}
.CalendarDay__default:hover{
    border:none;
}
.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
    background: #2196F3;
    border: none;
    color: #fff;
}
.CalendarDay__selected_start{
    border-bottom-left-radius:20px;
    border-top-left-radius: 20px;
}
.CalendarDay__selected_end{
    border-bottom-right-radius:20px;
    border-top-right-radius: 20px;
}
.DateInput_input__focused{
    outline: 0;
    background: #fff;
    border: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #094185;
    border-left: 0;
}
.DayPicker_transitionContainer{
    max-width: 100%;
    height: 410px !important;
    
@include respond-to(large){
    width: 618px;
    height: 355px !important;
}
}

.DateInput_fang.DateInput_fang_1{
    display: none;
}
.DateRangePicker_picker{
    left:-3% !important;
    @include respond-to(large){
        left:-75% !important;
    }
}
.SingleDatePicker_picker{
    left:-70% !important;
    @include respond-to(large){
        left:-220% !important;
    }
}
.price{
    font-size: 10px;
    
}
.book-button{
    margin-left:0;
    background: #094185 !important;
    @include respond-to(large){
     
        margin-left: 1rem;
      
    }
}

.CalendarDay__blocked_out_of_range{
  width: auto !important;
  height: auto !important;
  padding-bottom: 2rem;
}
.total-wrapper{
    display: flex;
    align-items: center;
    
    font-size: 26px;
   
    span{
        color:#094185;
        font-weight: 900;
        font-size: 30px;
    }
}
.city{
    color:#094185;
    border-bottom: 3px solid #000;
}
.bottom-wrapper{
    
    position: absolute;
   top: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin-bottom: 30px;

    
    
    @include respond-to(large){
        width: 618px;
        margin-left: 1rem;
        top: 72%;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
      
    }
    @include respond-to(extra-large){
       
        top: 67%;
        
    }
}
.CalendarMonthGrid{
    width: 100%;
   @include respond-to(large){
        width: 1200px;
    }
}

}





