
h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
}

.grid {
  margin-left: 16%;
}

.grid td {
  display: inline-block;
  width: 25%;
  height: 50px;
  border: 2px solid #083377;
  text-align: center;
  margin: 5px;
  padding: 10px;
}

.grid td:hover {
  opacity: .7;
  cursor: pointer;
}

.reserved {
  display: inline-block;
  background: #083377;
  color: #fff;
  font-weight: 700;
}


.available {
  color: #333;
}

li {
  list-style: none;
}

.left {
  div {
    display: inline-block;
    padding: 10px;
    margin: 5px;

    div {
      background: #00cd77;
      width: 20%;
    }
  }
}

.right {

}

.userProfile-form {

  position: absolute;
  width: 20%;
  margin-left: 20px;
  padding: 12px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.userSpace {
  background-color: orange;
}

.bookLuggage-form {
  width: 20%;
  padding: 12px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  position: relative;
  width: 20%;
  left:75%;
}

.reservationHeader {
  color: #083377
}

.seatChoice {
  font-weight: 700;
  &:before {
    content: "Seat Number: ";
  }
}


.text-box {
  margin-top: 20px;
  position: relative;
  left: 40%;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #083377;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
