.view-history {
	.history-list {
        margin-top: 1rem;
        padding-bottom: 4rem;
        table{
            border-collapse: collapse;
            width: 100%;
        }
        tr {
            margin: 0.25rem 0;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            &:nth-child(even){
                background-color: #dddddd;
            }
        }
		th {
            margin-right: 1rem;
            border: 1px solid #dddddd;
            padding: 8px;
        }
        
	}
}
