@import "./variables.scss";

.app {
    display: flex;
    flex-direction: column;

	.app-header {
        background: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 2rem;
        
        .menu-button {
            display: flex;
            align-items: center;
            width: 60px;
            @include respond-to(large){
                display: none;
            }
            i {
                font-size: 2rem;
                color: $primary;
            }
        }
        img {
            transform: scale(0.7)
        }

        .app-navigation {
            display: none;
            @include respond-to(large){
                display: block;
            }
            ul {
                margin-top: 1.5rem;
                display: flex;
                justify-content: center;
                li {     
                    a {
                        padding: 0.5rem 1.5rem;
                        color: $primary;
                        font-size: 1rem;
                    }
                }
            }
        }

        .user-section {
           display: flex;
           align-items: center;
           justify-content: center;
           width: 60px;
           span {
               margin-left: 0.5rem;
               color: $primary;
           }
           i {
               color: $primary;
           }
        }
	}

    .background-image {
        position: fixed;
        bottom: 0;
        max-width: 100%;
        z-index: -1;
    }
}
