@import "./variables.scss";

.app {

    display: flex;
    flex-direction: column;

	.app-header {
        background: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        
        .app-navigation {
            ul {
                margin-top: 1.5rem;
                display: flex;
                justify-content: center;
                li {     
                    a {
                        padding: 0.5rem 1.5rem;
                        color: $primary;
                        font-size: 1rem;
                    }
                }
            }
        }
	}

    .background-image {
        position: fixed;
        width: 100%;
    }
}
